*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  border: 1px solid white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 50px;
  margin-bottom: 20px;
  gap: 20px;
}
h2 span{
  color: gold;
}
.App input{
  width: 18vw;
  height: 5vh;
}
.App button{
  background-color: transparent;
  position: relative;
  right: 25px;
  border: none;
  font-size: x-large;
  cursor: pointer;
}
